<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Бухгалтерия
      </div>
    </div>
    <!-- SIDEBAR MENU -->
    <nav class="menu">
      <ul class="nav metismenu">
        <li *ngFor="let el of menuItems"
            routerLinkActive="active">
          <a [routerLink]="el.link"> <i class="fa fa-{{ el.icon }}"></i> {{ el.title }} </a>
        </li>
      </ul>
    </nav>
    <!-- END SIDEBAR MENU -->
  </div>
</aside>