<article class="content">
  <div class="title-block">
    <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-6">
        <crm-add-event></crm-add-event>
      </div>
      <div class="col-md-6">
        <crm-add-category></crm-add-category>
      </div>
      <div class="col-md-12">
        <crm-edit-category></crm-edit-category>
      </div>
    </div>
  </section>
</article>